<!DOCTYPE html>
<html>
	<head>
		<%- include("../partials/head") %>
		<title>Login</title>
        <!-- the form awesome library is used to add icons to our form -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="login">
			<h1>Login</h1>
			<form action="/auth/validate-auth" method="post">
				<label for="username">
					<!-- font awesome icon -->
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
	
				<input type="submit" value="Login">

				<div class="new-user-container">
					<p>Not an user already?</p>

					<a href="/new-user/add-user"><button type="button">Create Account</button></a>
				</div>
			</form>
		</div>
	</body>
</html>