<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <%- include("../../partials/head") %>
    <title>Home Admin</title>
</head>
<body style="width: 100%; overflow-x: hidden;">
    <div>
        <h1 style="text-align: center; font-size: 30px; color: #FFFFFF;">Welcome back admin, <%= admin %>!</i></h1>
    </div>
    <div class="exit">
        <a href="/admin/users">
            <button type="button">Users</button>
        </a>
        <a href="/session/logout">
            <button type="button">Exit</button>
        </a>
    </div>
</body>
</html>